<div class="row">
  <div class="col-sm-3" *ngFor="let file of files">
    <div class="card text-center">
      <span class=""><i class="fa fa-file"></i></span>
      <div class="card-body">
        <h5 class="card-title mt-2 mb-2">{{ file.fileName }}</h5>
        <div class="text-center">
          <button id="{{ file.id }}" type="button" class="btn btn-sm btn-primary" (click)="extractData($event)">Extract
            <i class="fa fa-database"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-10 mt-10"></div>

<div class="row">
  <div class="col-md-3">
    <div class="table-responsive">
      <table *ngIf="allLines?.length != 0" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item set</th>
            <th scope="col">Items</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of allLines">
            <th scope="row">{{ counter - this.allLines.length }} {{ increment() }}</th>
            <td>{{ line }}</td>
          </tr>
      </table>
    </div>
  </div>

  <div class="col-md-4">
    <div class="table-responsive">
      <table *ngIf="allLines?.length != 0" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemSet[0] | keyvalue">
            <th scope="row">{{ item.key }}</th>
            <td>{{ item.value }}</td>
          </tr>
      </table>
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="table-responsive">
      <table *ngIf="allLines?.length != 0" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemSet[1] | keyvalue">
            <th scope="row">{{ item.key }}</th>
            <td>{{ item.value }}</td>
          </tr>
      </table>
    </div>
  </div> -->

  <div class="col-md-5">
    <div class="table-responsive">
      <table *ngIf="allLines?.length != 0" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rule</th>
            <th scope="col">Confidence</th>
            <th scope="col">Support</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of associationRules[1]">
            <th scope="row">{{ item?.label }}</th>
            <td>{{ item.confidance / perc | percent }}</td>
            <td>{{ item.support / perc | percent }}</td>
          </tr>
      </table>
    </div>
  </div>
</div>